{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajouter_professeurs</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <form   method="POST"  action="{% url 'ajouter_professeurs'%}">
                  {% csrf_token %}  
             <p class="subtitle">Remplissez les informations du prof. </p> 
             <h1>AJOUTER UN PROFESSEUR</h1>
             {% if messages %}
             {% for message in messages %}
             <div class="element"> {{message.tags}},{{message}}</div>
             {% endfor %}
             {% endif %}
             <label for="username">Nom d'utilisateur</label>
             <input
             type="text"
             name="username"
             id="username"
             required
             >
             
             <label for="matiere_id">matiere_id</label>
             <input
             type="text"
             name="matiere_id"
             id="matiere_id"
             required
             >

            
             <label for="password">Mot de passe</label>
             <input
             type="password"
             name="password"
             id="password"
             required
             >

             <p>Classes :</p>
             <label><input type="checkbox" name="classes_ids" value="1"> 6èmeA</label>
            <label><input type="checkbox" name="classes_ids" value="2"> 6èmeB</label>
            <label><input type="checkbox" name="classes_ids" value="3">5èmeA </label>
              <label><input type="checkbox" name="classes_ids" value="1"> 5èmeB</label>
            <label><input type="checkbox" name="classes_ids" value="2"> 4èmeA</label>
            <label><input type="checkbox" name="classes_ids" value="3">4èmeA</label>
              <label><input type="checkbox" name="classes_ids" value="1"> 4èmeB</label>
            <label><input type="checkbox" name="classes_ids" value="2"> 3èmeA</label>
            <label><input type="checkbox" name="classes_ids" value="3"> 3èmeB</label>
             <label><input type="checkbox" name="classes_ids" value="1"> 2sndA</label>
            <label><input type="checkbox" name="classes_ids" value="2">2cndC</label>
            <label><input type="checkbox" name="classes_ids" value="3"> 1èreA</label>
            <label><input type="checkbox" name="classes_ids" value="1">1èreC</label>
            <label><input type="checkbox" name="classes_ids" value="2">1èreD</label>
            <label><input type="checkbox" name="classes_ids" value="3"> TLEA</label>
            <label><input type="checkbox" name="classes_ids" value="2">TLEC</label>
             <label><input type="checkbox" name="classes_ids" value="2">TLED</label>








             <button type="submit"> INSCRIRE </button>
               

            </form>

        </div>
    </div>
    
</body>
</html>