{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajouter_professeurs</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <form   method="POST"  action="{% url 'ajouter_professeurs'%}">
                  {% csrf_token %}  
             <p class="subtitle">Remplissez les informations du prof. </p> 
             <h1>AJOUTER UN PROFESSEUR</h1>
             {% if messages %}
             {% for message in messages %}
             <div class="element"> {{message.tags}},{{message}}</div>
             {% endfor %}
             {% endif %}
             <label for="username">Username</label>
             <input
             type="text"
             name="username"
             id="username"
             required
             >
             
             <label for="matiere_id">matiere_id</label>
             <input
             type="matiere_id"
             name="matiere_id"
             id="matiere_id"
             required
             >

                <label for="classe_ids">classe_ids</label>
             <input
             type="classe_ids"
             name="classe_ids"
             id="classe_ids"
             required
             >

            

             <label for="password">Mot de passe</label>
             <input
             type="password"
             name="password"
             id="password"
             required
             >

             <button type="submit">
                Inscrire 
            </button>
          

            </form>

        </div>
    </div>
    
</body>
</html>