{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'compte/style.css'%}">
    <title>GESTISCOL-acceuil</title>
</head>
<body>

    <h1> Bienvenue {{ request.user.first_name }} !</h1>
    <p>Vous êtes connecté en tant que  {{ request.user.get_role_display }}</p>
    <a href="{%url 'liste_etudiants'%}">Liste des étudiants</a>
    <a href="{% url 'ajouter_etudiant' %}">ajouter des étudiant</a>
    <a href="{% url 'liste_professeurs'%}">Liste des professeurs</a>
    <a href="{% url 'ajouter_professeurs'%}">ajouter professeurs</a> 
    <a href="{% url 'deconnexion'%}">Se deconnecter</a>
</body>
</html>