{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'compte/style.css' %}">

    <title>ajouter_etudiant</title>
</head>
<body class="student-page">
    <div class="student-container">
        <section class="student-card">
            <form   method="POST"  action="{% url 'ajouter_etudiant'%}">
                  {% csrf_token %} 
                <h1>AJOUTER UN ETUDIANT</h1>
             <p class="student-header">Remplissez les informations de létudiant. </p> 
             {% if messages %}
             {% for message in messages %}
             <div class="element"> {{message.tags}},{{message}}</div>
             {% endfor %}
             {% endif %}
            <div class="student-field">

    {% comment %} <label for="username">
        Nom d'utilisateur
    </label>

    <input
        type="text"
        name="username"
        id="username"
        required
    >

</div>


<div class="student-field">

    <label for="classe_id">
        Classe
    </label>

    <input
        type="text"
        name="classe_id"
        id="classe_id"
        required
    > {% endcomment %}

</div>

           <form class="student-form" method="POST" action="{% url 'ajouter_etudiant' %}">

    {% csrf_token %}

    <div class="student-field">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="username" id="username" required>
    </div>

    <div class="student-field">
        <label for="classe_id">Classe</label>
        <input type="text" name="classe_id" id="classe_id" required>
    </div>

    <div class="student-field">
        <label for="age">Âge</label>
        <input type="text" name="age" id="age" required>
    </div>

    <div class="student-field">
        <label for="matricule">Matricule</label>
        <input type="text" name="matricule" id="matricule" required>
    </div>

    <div class="student-field">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required>
    </div>

    <button type="submit" class="student-submit">
        Inscrire
    </button>

</form>
            </form>

        </section>
    </div>
    
</body>
</html>