{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'compte/style.css' %}">

    <title>Liste des étudiants</title>
</head>

<body>

    <div class="container">

        <div class="students-card">

            <h1>LISTE DES ÉTUDIANTS</h1>

            <p class="subtitle">
                Retrouvez les étudiants enregistrés dans GESTISCOL.
            </p>

            {% if etudiants %}

                <div class="students-list">

                    {% for etudiant in etudiants %}
                     

                        <div class="student-item">

                            <div class="student-info">

                                <h2>{{ etudiant.user.username }}</h2>

                                <p>
                                    Classe :
                                    <strong>{{ etudiant.classe.nom }}</strong>
                                </p>
                                <a href="{% url 'modifier_etudiant'etudiant.id %}">Modifier<a/>
                                <a href="{% url 'supprimer_etudiant' etudiant.id %}">Suprimer<a/>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            {% else %}

                <div class="empty-student-message">
                    Aucun étudiant trouvé.
                </div>

            {% endif %}

        </div>

    </div>

</body>
</html>