 {% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste-professeur</title>
</head>
<body>

    
        
        {% if professeurs %}
        <ul>
            {% for prof in professeurs%}
            <li>{{prof.user.username}}-{{prof.matiere.nom}}</li>
            {% endfor %}
            
        </ul>
        {% else %}
        <p> Aucun étudiant trouvé</p>
        {% endif %}
        
  
           
        
  
    
</body>
</html>