{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modifier_PROFESSEUR</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <form   method="POST"  action="{% url 'modifier_professeur' professeur.id %}">
                  {% csrf_token %}  
             <p class="subtitle">Remplissez les informations du professeur. </p> 
             <h1>MODIFIER UN PROFESSEUR</h1>
             {% if messages %}
             {% for message in messages %}
            
             <div class="element"> {{message.tags}},{{message}}</div>
             {% endfor %}
             {% endif %}
             <label for="username">Nom d'utilisateur</label>
             <input
             type="text"
             name="username"
             id="username"
             value="{{professeur.user.username}}"
             required
             >
             
             <label for="classe_id">nouvelle classe</label>
             <input
             type="text"
             name="classe"
             id="classe"
             value="{{professeur.classe.ids}}"
             required
             >

              

                <label for="matricule">Matiere</label>
             <input
             type="text"
             name="Matiere"
             value="{{etudiant.matiere}}"
             required
             >

             <button type="submit">
             Modifier
            </button>
          

            </form>

        </div>
    </div>
    
</body>
</html>